In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

C:\Users\jesse\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (
C:\Users\jesse\AppData\Local\Temp\ipykernel_11828\328549705.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

WARNING:tensorflow:From C:\Users\jesse\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Store the column 'NAME' in a separate variable for later use.
column_name = application_df['NAME']

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app_value_counts = application_df['APPLICATION_TYPE'].value_counts()
app_value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_value_counts.index[8:])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_value_counts = application_df['CLASSIFICATION'].value_counts()
class_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_value_counts_1 = class_value_counts.loc[class_value_counts > 1]
class_value_counts_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_value_counts.index[5:])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df).astype(int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(labels=["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\jesse\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 6)                 54

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 455 (1.78 KB)
Trainable params: 455 (1.78 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\jesse\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
WARNING:tensorflow:From C:\Users\jesse\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\jesse\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 705us/step - loss: 0.6306 - accuracy: 0.6758
Epoch 2/30
804/804 [==============================] - 1s 668us/step - loss: 0.5783 - accuracy: 0.7155
Epoch 3/30
804/804 [==============================] - 1s 653us/step - loss: 0.5705 - accuracy: 0.7233
Epoch 4/30
804/804 [==============================] - 1s 647us/step - loss: 0.5678 - accuracy: 0.7244
Epoch 5/30
804/804 [==============================] - 1s 665us/step - loss: 0.5661 - accuracy: 0.7245
Epoch 6/30
804/804 [==============================] - 1s 734us/step - loss: 0.5638 - accuracy: 0.7259
Epoch 7/30
804/804 [==============================] - 1s 696us/step - loss: 0.5602 - accuracy: 0.7303
Epoch 8/30
804/804 [==============================] - 1s 655us/step - loss: 0.5591 - accuracy: 0.7308
Epoch 9/30
804/804 [==============================] - 1s 659us/step - loss: 0.5580 - accuracy: 0.7313
Epoch 10/30
804/804 [==============================] - 1s 689us/step - loss: 0.5568 - accuracy: 0.7304
Epoch 11/30
804/804 [==============================] - 1s 727us/step - loss: 0.5563 - accuracy: 0.7322
Epoch 12/30
804/804 [==============================] - 1s 704us/step - loss: 0.5556 - accuracy: 0.7325
Epoch 13/30
804/804 [==============================] - 1s 671us/step - loss: 0.5549 - accuracy: 0.7321
Epoch 14/30
804/804 [==============================] - 1s 668us/step - loss: 0.5541 - accuracy: 0.7325
Epoch 15/30
804/804 [==============================] - 1s 698us/step - loss: 0.5536 - accuracy: 0.7324
Epoch 16/30
804/804 [==============================] - 1s 719us/step - loss: 0.5530 - accuracy: 0.7329
Epoch 17/30
804/804 [==============================] - 1s 704us/step - loss: 0.5526 - accuracy: 0.7338
Epoch 18/30
804/804 [==============================] - 1s 667us/step - loss: 0.5521 - accuracy: 0.7333
Epoch 19/30
804/804 [==============================] - 1s 665us/step - loss: 0.5520 - accuracy: 0.7341
Epoch 20/30
804/804 [==============================] - 1s 675us/step - loss: 0.5520 - accuracy: 0.7345
Epoch 21/30
804/804 [==============================] - 1s 683us/step - loss: 0.5519 - accuracy: 0.7343
Epoch 22/30
804/804 [==============================] - 1s 684us/step - loss: 0.5500 - accuracy: 0.7350
Epoch 23/30
804/804 [==============================] - 1s 684us/step - loss: 0.5501 - accuracy: 0.7343
Epoch 24/30
804/804 [==============================] - 1s 685us/step - loss: 0.5497 - accuracy: 0.7348
Epoch 25/30
804/804 [==============================] - 1s 691us/step - loss: 0.5492 - accuracy: 0.7348
Epoch 26/30
804/804 [==============================] - 1s 668us/step - loss: 0.5496 - accuracy: 0.7350
Epoch 27/30
804/804 [==============================] - 1s 673us/step - loss: 0.5492 - accuracy: 0.7346
Epoch 28/30
804/804 [==============================] - 1s 658us/step - loss: 0.5492 - accuracy: 0.7350
Epoch 29/30
804/804 [==============================] - 1s 662us/step - loss: 0.5489 - accuracy: 0.7344
Epoch 30/30
804/804 [==============================] - 1s 674us/step - loss: 0.5488 - accuracy: 0.7357

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5569 - accuracy: 0.7266 - 240ms/epoch - 896us/step
Loss: 0.5568658709526062, Accuracy: 0.7266472578048706

In [17]:
# Add the NAME column back into our data
application_df['NAME'] = column_name
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,NAME
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,BLUE KNIGHTS MOTORCYCLE CLUB
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,ST CLOUD PROFESSIONAL FIREFIGHTERS
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,SOUTHSIDE ATHLETIC ASSOCIATION
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,GENETIC RESEARCH INSTITUTE OF THE DESERT

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df).astype(int)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,NAME_ZONTA CLUB OF BURBANK AREA FOUNDATION CORPORATION,NAME_ZONTA INTERNATIONAL,NAME_ZOO CREW,NAME_ZOO FOUNDATION INC,NAME_ZOZ AMBA FOUNDATION,NAME_ZUMAS RESCUE RANCH INC,NAME_ZUNEN AGRIBUSINESS SOLUTIONS,NAME_ZUNI ENTREPRENEURIAL ENTERPRISES INC,NAME_ZUNI MOUNTAIN ENVIRONMENTAL ACTION LEAGUE,NAME_ZURICH PUBLISHING FOUNDATION INC
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(labels=["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [20]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()
# import regularizers
from tensorflow.keras import regularizers
# First hidden layer

nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu', kernel_regularizer=regularizers.l1(0.01))
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu", kernel_regularizer=regularizers.l2(0.01)))

#Add a dropout layer
nn.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 8)                 156896

 dense_28 (Dense)            (None, 5)                 45

 dropout (Dropout)           (None, 5)                 0

 dense_29 (Dense)            (None, 1)                 6

=================================================================
Total params: 156947 (613.07 KB)
Trainable params: 156947 (613.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 2s 2ms/step - loss: 1.2446 - accuracy: 0.7461
Epoch 2/30
804/804 [==============================] - 1s 2ms/step - loss: 1.5374 - accuracy: 0.7797
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 1.4884 - accuracy: 0.7940
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 2.0342 - accuracy: 0.8135
Epoch 5/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6150 - accuracy: 0.8404
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6554 - accuracy: 0.8412
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 1.4940 - accuracy: 0.8524
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6108 - accuracy: 0.8469
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 1.5266 - accuracy: 0.8585
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6194 - accuracy: 0.8501
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 1.5647 - accuracy: 0.8614
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6391 - accuracy: 0.8534
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 1.5744 - accuracy: 0.8615
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6289 - accuracy: 0.8560
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6146 - accuracy: 0.8637
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6758 - accuracy: 0.8609
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 1.5953 - accuracy: 0.8692
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6947 - accuracy: 0.8575
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6732 - accuracy: 0.8713
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 1.5945 - accuracy: 0.8655
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6761 - accuracy: 0.8630
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6462 - accuracy: 0.8651
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6750 - accuracy: 0.8684
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 1.7077 - accuracy: 0.8655
Epoch 25/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6175 - accuracy: 0.8719
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 1.7150 - accuracy: 0.8682
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6349 - accuracy: 0.8722
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6959 - accuracy: 0.8657
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6709 - accuracy: 0.8747
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 1.6532 - accuracy: 0.8678

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.0274 - accuracy: 0.7853 - 332ms/epoch - 1ms/step
Loss: 2.0273663997650146, Accuracy: 0.7853060960769653

In [37]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')